{% extends 'base.html.twig' %}

{% block body %}
    <h1>Welcome to Blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic architecto totam officia harum unde perspiciatis laudantium! Quas ea, eos modi quibusdam voluptates consequuntur magni rerum? Odit et enim eaque quisquam corporis, magni ipsa cupiditate dolorum veritatis excepturi recusandae asperiores atque?</p>
    <p>Odio molestias consequuntur quibusdam vel porro iure dolores laborum sunt iusto perferendis ipsa quis, error quidem exercitationem? Maiores, tempora qui eveniet voluptates excepturi quia modi repellendus. Obcaecati perspiciatis ut incidunt nobis delectus, dicta, quae sint qui consequatur sapiente quaerat soluta?</p>

{% endblock %}
