{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h2>article title</h2>
        <div class="metadata">Written on 01/04/2019 at 23:00 in the category Politics</div>
        <div class="content">
            <img src="http://placehold.it/350x0150" alt="">
            <p>Itaque saepe, iste fugiat veniam, rerum nulla dicta natus deleniti nobis officia, doloribus magnam aliquid.</p>
            <p>Incidunt officia tenetur veritatis, reprehenderit, distinctio dolorem corporis eum itaque temporibus, assumenda harum ea! Omnis.</p>
            <hr>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae hic! Modi fugit minima repudiandae reprehenderit accusantium optio error molestias voluptas id nesciunt quo placeat nobis nam, iusto mollitia ipsam? Iure, vel pariatur molestiae ipsa recusandae et temporibus exercitationem placeat dolor quasi consequuntur, delectus odio ipsam sint asperiores animi officiis.</p>
            <p>Earum corrupti nihil at necessitatibus suscipit quisquam, omnis molestiae quam fugit aut aspernatur itaque laudantium, cumque, illo delectus vel voluptatem aliquam aliquid iure esse accusantium doloribus cupiditate fugiat? Asperiores, delectus ea molestias deserunt eum nesciunt repudiandae nulla odit nisi exercitationem sint temporibus officiis explicabo obcaecati at vel sapiente totam. Obcaecati.</p>
        </div>
    </article>
{% endblock %}
